<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meal Plans</title>
    </head>

    <body>
        <h1>Meal Plans</h1>
        <%  for(let mp of mealplans) { %>
        <p><%= dayConverter(mp.date.getDay()) %></p><br />
        <p><%= mp.date.getMonth() %>-<%= mp.date.getDate() %></p>
        <br>
        <br>
        <% } %>
    </body>

</html>