doctype html 
html 
head 
    title Meal Plans 
    
body  
    h1 Meal Plans
    div 
        h2 Search 
        label(for='search-period-month') Month
        input(type="text", id='search-period-month', name='period-month')
        label(for='search-period-year') Year
        input(type="text", id='search-period-year', name='period-year')
        button(type=button) Find
         
    div.results 
        ul 
            //- pug doesn't support iterating on Maps directly
            - let mpArr = Array.from(mealplans.entries())
            //- need to indent "each" in order to have "li" inside the "ul" properly. Note this comment also needs to be indented, otherwise it comments below lines
            each entry, index in mpArr
                - let [date, mp] = entry
                - let itemClass = 'mp-' + index
                li
                    if mp
                        include ./components/mealplan.pug
                    else 
                        div(class=itemClass)
                            h2.mp-date= date
                            h3= dayConverter(index)
                            p no meal plan. create one
                            button.createMPButton(type="button") Create
            else 
                h3 no map
    script(src='/postMealPlan.js')
    //- this script adds event listeners, so it needs to load last so that the other elements exists first